body {
    background-color:#44cbe3;
}

.flashes h4 {
    line-height: 2;
}

.btn-sm {
    margin: 5px;
}

.navbar, .dropdown-menu{
    background-color: #4c828a !important; 
}

.nav-link, .dropdown-item {
    color: #d4af37 !important;
}

.navbar-brand {
    color: #d4af37 !important;
    text-shadow: 1px 1px #d4af37;
}

.btn {
    background-color: #d4af37 !important;
}

.book-cards, .info-list {
    background-color: #4c828a;
    color: #d4af37 !important;
}

.list-group-item, .card-body, .card-description{
    padding: 1px !important;
    border: 0 !important;
}

.profile-text {
    font-weight: bold;
    font-size: 1.6em;
    color: #d4af37 !important;
    margin-top: 5px;
    margin-bottom: 5px;
}

.heading {
    font-weight: bold;
    font-size: 2em;
    color: #d4af37 !important;
    text-transform: capitalize;
    text-shadow: 1px 1px #4c828a;
    margin-top: 10px;
}

.book-cards {
    width: 100%;
    display: block;
    margin: 5px;
}

.book-cards img {
    display: block;
    border-radius: 4px;
    height: 460px;
    width: 100%;
    position: relative;
    transition: all .3s ease;
    z-index: 0;
    object-fit: cover;
}


.content .list-group-item {
    font-weight: bold;
    font-size: 1.7em;
    justify-content: center;
    text-decoration: none !important;
    color: none !important;
}

.contain-info {
    padding-top: 25px !important;
    padding-right: 10px !important;
}

.contain-info .content .list-group-item {
    padding-top: 20px !important;
    background-color:#44cbe3;
}

.card-description {
    justify-content: center;
    margin-top: 20px;
    font-size: 1.4em;
}

#book-image {
    padding-left: 20px !important;
}

#add-book {
    font-weight: bold;
    font-size: 1.5em;
    color: #d4af37 !important;
    margin-top: 20px;
    text-decoration: none !important;
}