{% extends "base.html"%}
{% block content %}

    <h3 class="text-center">Add Book</h3>
    <div class="card">
        <div class="card-body">
          <form method="POST" action="">
            <!-- categorgy-->
            <label for="category_name">Category</label>
            <select class="form-select" id="category_name" name="category_name" aria-label="Default select example" required>
              <option selected>Choose Category</option>
              {% for category in categories %}
                <option value="{{ category.category_name }}">{{ category.category_name }}</option> 
              {% endfor %}
            </select><br>
            <!-- book image url-->
            <div class="mb-3">
              <i class=""></i>
              <label for="url" class="form-label">Url for book cover image</label>
              <input type="url" class="form-control" id="url" name="url" required>
            </div>
            <!-- book title-->
            <div class="mb-3">
              <i class=""></i>
              <label for="book_name" class="form-label">Title</label>
              <input type="text" class="form-control" id="book_name" name="book_name" required>
            </div>
            <!-- book author-->
            <div class="mb-3">
              <i class=""></i>
              <label for="book_author" class="form-label">Author</label>
              <input type="text" class="form-control" id="book_author" name="book_author" required>
            </div>
            <!-- book length -->
            <div class="mb-3">
                <i class=""></i>
                <label for="book_length" class="form-label">Book Length</label>
                <input type="number" class="form-control" id="book_length" name="book_length" required>
            </div>              
            <!-- description -->
            <div class="mb-3">
                <i class=""></i>
                <label for="book_description" class="form-label">Book Description</label>
                <textarea class="form-control" name="book_description" id="book_description" rows="3" required></textarea>
            </div>
            <!-- review -->
            <div class="mb-3">
              <i class=""></i>
              <label for="book_review" class="form-label">Book Review</label>
              <textarea class="form-control" name="book_review" id="book_review" rows="3" required></textarea>
            </div>
            <!-- book rating -->
            <div class="mb-3">
              <i class=""></i>
              <label for="book_rate" class="form-label">Rate the book!</label>
              <input type="range" class="form-range" name="book_rate" id="book_rate">
            </div>

            <!-- submit button-->
            <button type="submit" class="btn btn-primary">Submit
              <i class="fas fa-sign-in-alt"></i>
            </button>
          </form>
        </div>
      </div>

    <!-- <form method="POST" action="">
        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">@</span>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
        </div>
    </form> -->

{% endblock %}