<div class="col-12 col-md-6 col-lg-4">
    <div class="card book-cards">
        {% if session.user|lower == book.uploaded_by|lower %}
            <a class="btn btn-primary btn-sm" href="{{ url_for('delete_book', book_id=book._id) }}" role="button">Delete</a>
            <a class="btn btn-primary btn-sm" href="{{ url_for('edit_book', book_id=book._id) }}" role="button">Edit</a>
        {% endif %}
        <img src="{{ book.book_url}}" class="img-fluid" alt="{{ book.book_name}}">
        <h5 class="card-title text-center"><a href="{{ url_for('single_book', book_id=book._id) }}" class="card-link stretched-link">{{ book.book_name}}</a></h5>
        <ul class="list-group list-group-flush text-center">
            <li class="list-group-item info-list">Author : {{ book.book_author}}</li>
            <li class="list-group-item info-list">Category : {{ book.category_name}}</li>
            <li class="list-group-item info-list">Publication Date : {{ book.book_publication_date}}</li>
            <li class="list-group-item info-list">Book Length : {{ book.book_length}}</li>
        </ul>
        <div class="card-body">
            <p class="card-text text-center card-description">Description : {{ book.book_description | truncate(45, true)}}</p>
        </div>
    </div>
</div>
