{% extends "base.html" %}
{% block content %}


  <div class="row">
    <h3 class="text-center heading">
      {{ username}}'s Profile
    </h3>
  </div>

  
  <div class="container-fluid">
    {% if books|length == 0 %}
      <p class="text-center profile-text">You haven't uploaded any books yet. Why not upload one now?</p>
      <a href="{{ url_for('add_book') }}">Add book</a>
    {% else %}
      <p class="text-center profile-text">Here are your books!</p>
    {% endif %}
  </div>

  <div class="container">
    <div class="row">
      {% for book in books %}
        {% if session.user|lower == book.uploaded_by|lower %}
          {% include "books.html" %}
        {% endif %}
      {% endfor %}
    </div>
  </div>

  
{% endblock %}